﻿<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - interfazRobot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Robot Laboratorio Transformacion digital" name="description">
    <meta content="robotltd" name="keywords">
    <link href="~/ecofuturoIcon.png" rel="icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cover/">
    <!-- Custom styles for this template -->
    <link href="~/css/aos/aos.css" rel="stylesheet">
    <link href="~/css/stylesLayout.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <style>
        body {
            display: -ms-flexbox;
            display: flex;
            color: #fff;
            text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
            box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 16px;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('@Url.Content("~/img/fondoEcofuturo.jpg")');
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
        }
        .vertical-center {
            margin: 0;
            position: absolute;
            top: 22%;
        }
    </style>
</head>
<body class="d-flex text-center">
    @* <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">interfazRobot</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header> *@
    <div class="cover-container d-flex flex-column w-100 h-100 p-3 mx-auto">
        <header>
            <div class="container">
                <h2 class="color-naranga float-md-left mb-0">Ecofuturo</h2>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <div class="d-flex h6 mt-1 pr-3">
                        @* <p id="diaSemana" class="ml-2"></p> *@
                        <p class="ml-2">@DateTime.Now.ToString("dd")</p>
                        <p class="ml-2">de</p>
                        <p class="ml-2">@DateTime.Now.ToString("MM")</p>
                        <p class="ml-2">del</p>
                        <p class="ml-2">@DateTime.Now.ToString("yyyy")</p>
                    </div>
                    <a class="h6 nav-link active" aria-current="page" asp-controller="web" asp-action="Index">Home</a>
                    <a class="h6 nav-link" href="#">Soporte</a>
                    <a class="h6 nav-link" href="#">Contactanos</a>
                </nav>
            </div>
        </header>
        <main role="main" class="inner cover my-auto">
            <div class="container" data-aos="fade-up">
                <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="col-xl-8 col-lg-6">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </main>
        <footer class="mastfoot">
            <div class="text-info inner">
                <p class="mb-0 pb-0">&copy; 2022 - Lab. <a asp-area="" asp-controller="Home" asp-action="Privacy">Transformacion Digital</a></p>
                <p class="text-info small">Version 21 beta.</p>
            </div>
        </footer>
    </div>
    <script src="~/css/aos/aos.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>
        AOS.init();
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
