/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/*********Estilo Formulario Login*******/

.btn {
    *zoom: 1;
    padding: 4px 10px 4px;
    margin-bottom: 0; font-size:13px;
    line-height: 18px;
    color: #ffff;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-repeat: repeat-x;
    border-color: #e6e6e6 #e6e6e6 #e6e6e6;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border: 1px solid #e6e6e6;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer; *margin-left: .3em;
}

a{
	text-decoration: none;
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { 
    background-color: #e6e6e6;
}
.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.btn-primary, .btn-primary:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
}
.btn-primary.active {
    color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
    background-color: #ff5100;
    background-repeat: repeat-x;
    border: 1px solid #ffff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    filter: none;
    background-color: #ffff;
    color: #fd7200;
    border: 1px solid #fd7200;
}
.item {
    display: block;
}
.btn-block {
    width: 100%;
    display:block;
    margin-top: 16px;
    text-align: center;
}

* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}

html {
    width: 100%;
    height:100%;
    overflow:hidden;
}

body { 
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #30346b;
}
span{
    font-size: 17px;
    font-weight: bold;
}
.txt{
    border: 1px solid #fff;
    width: 100px;
    overflow: hidden;
    font-size: 14px;
	color: #fff;
}
.login { 
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:600px;
	height:300px;
}
.login h1 {
    color: #fff;
    font-size: 24px;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
    letter-spacing:1px; text-align:center;
}

input {
    margin-top: 10px; 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
input:focus {
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
}
label {
	font-size: 14px;
	color: #fff;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }