﻿@{
        ViewData["Title"] = "Home Page";
}
@model Usuario
<div class="container border">
    <form asp-action="SetUsuario" asp-controller="home" method="post">
        <div class="form-group col-md-6">
            <label>Nombres</label>
            <input asp-for="Nombres" class="form-control" />
            <span asp-validation-for="Nombres" class="badge text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label>Apellidos</label>
            <input asp-for="Apellidos" class="form-control" />
            <span asp-validation-for="Apellidos" class="badge text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label>Dui</label>
            <input asp-for="Dui" class="form-control" />
            <span asp-validation-for="Dui" class="badge text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label>Correo</label>
            <input asp-for="Correo" class="form-control" />
            <span asp-validation-for="Correo" class="badge text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label>Estado</label>
            <input type="checkbox" asp-for="EstadoActivo" class="form-control" />
            <span asp-validation-for="EstadoActivo" class="badge text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label>Fecha de nacimiento</label>
            <input asp-for="FechaNacimiento" class="form-control" />
            <span asp-validation-for="FechaNacimiento" class="badge text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label>Edad</label>
            <input asp-for="Edad" class="form-control" />
            <span asp-validation-for="Edad" class="badge text-danger"></span>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>
<!--<div class="text-center">
    <h1 class="display-4">Welcome to first application in .net core </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->
<h2>Metodo simple para saludo</h2>
<span>@ViewBag.saludo</span>
@{
    int i = 10;
    List<int> lista = new List<int>() {
        1,2,3,4,5,6,7,8,9,10
    };
    int a = 5 * i;
    int dia = 2;
}
<h2>Estructuras de control en csharp</h2>
<h3>1.- imprime  una variable</h3>
@i
<h3>2.- imprime una multiplicacion</h3>
@a
<h3>3.- imprime una lista de numeros pares con foreach</h3>
<ul>
    @foreach (var item in lista)
    {
        var numAux = item % 2;
        if (numAux == 0)
        {
            <li>@item</li>
        }
    }
</ul>
<h3>4.- imprime una lista de numeros impares con for</h3>
<ul>
    @for (int j = 0; j < lista.Count; j++)
    {
        var numImpar = lista[j] % 2;
        if (numImpar != 0)
        {
            <li>@lista[j]</li>
        }
    }
</ul>
<h3>4.- switch dias de la semana</h3>
@switch (dia)
{
    case 1:
        @("Lunes")
        break;
    case 2:
        @:@i
        break;
    case 3:
        <span>Miercoles</span>
        break;
    case 4:
        @Html.Raw("<label>Jueves</label>");
        break;
}