<style>
    .section-bg {
        background-color: rgba(42,60,108,.5);
        text-align: left;
    }
    .color-azul{
        color: rgba(42,60,108);
        font-weight: bold;
    }
    .color-plomo{
        color: rgb(157, 154, 151);
        font-size: 14px;
    }
    .color-naranja{
        color: rgb(248, 97, 9);
        font-weight: bold;
    }
    .color-fondoNaranja{
        background-color: rgb(248, 97, 9);
    }
    .btn_add{
        color: white;
        background: rgb(248, 97, 9);
        width: 8rem;
    }
    .btn_add:hover {
        background: white;
        color: rgba(42,60,108);
    }
    .btn_add2{
        color: rgba(42,60,108);
        background: rgb(157, 154, 151);
        width: 8rem;
    }
    .btn_add2:hover {
        background: white;
        color: rgba(42,60,108);
    }
    .btn_add3{
        color: white;
        background: rgba(42,60,108);
        width: 8rem;
    }
    .btn_add3:hover {
        background: white;
        color: rgba(42,60,108);
    }
</style>
@{
    ViewData["Title"] = "Robot 1 Page";
}
@model RobotForm1externas;
<div class="card section-bg mb-5">
    <div class="card-body">
        <h6 class="card-title color-naranja mb-2">Llene lo campos del formulario para usar el robot 1</h6>
        <form class="mb-0 pb-0" id="formExt" asp-action="SetEstadoExternas" asp-controller="web" method="post">
            <div class="custom-control custom-switch mb-2">
                @{
                    bool y = @ViewBag.Externas;
                    if(y == true){
                        <input type="checkbox" class="custom-control-input color-naranja" value="" id="customSwitch1" checked>
                    }else{
                        <input type="checkbox" class="custom-control-input" value="" id="customSwitch1">
                    }
                }
                <label class="custom-control-label" for="customSwitch1">La sucursal tiene encargados externos?</label>
            </div>
        </form>
        <!--
        <p>@ViewBag.Externas</p>
        <form class="row g-3" asp-action="setFormulario1" asp-controller="web" method="post">-->
        @{
                bool x = @ViewBag.Externas;
                if (x == true)
                {
                    <form id="procesarX" class="row pt-0 mt-0" asp-action="SetForm1Externas" asp-controller="web" method="post">
                        <div class="col-md-6">
                            <label for="inputUserNet" class="form-label color-plomo"><span class="color-naranja h5"><i class="bi bi-laptop"></i></span> Usuario Netbank</label>
                            <input asp-for="userNetbank" class="form-control"  placeholder="ejemplo: RHJ">
                            <span asp-validation-for="userNetbank" class="badge text-danger mx-0 my-0"></span>
                            </div>
                            <div class="col-md-6">
                                <label for="inputPasswNet" class="form-label color-plomo"><span class="color-naranja h5"><i class="bi bi-spellcheck"></i></span> Password Netbank</label>
                                <div class="input-group">
                                    <input type="password" ID="txtPasswordN" asp-for="passwordNetbank" class="form-control" placeholder="ejemplo: ******">
                                    <div class="input-group-append">
                                        <button class="btn color-fondoNaranja color-plomo" type="button" onclick="mostrarPasswordN()"> <span class="bi bi-eye-slash-fill icon"></span> </button>
                                    </div>
                                </div>
                                <span asp-validation-for="passwordNetbank" class="badge text-danger"></span>
                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="inputUsermed" class="form-label color-plomo"><span class="color-naranja h5"><i class="bi bi-laptop"></i></span> Usuario Mediador</label>
                                <input asp-for="userMediador" class="form-control" placeholder="ejemplo: mantelo">
                                <span asp-validation-for="userMediador" class="badge text-danger"></span>
                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="inputPassMed" class="form-label color-plomo"><span class="color-naranja h5"><i class="bi bi-spellcheck"></i></span> Password Mediador</label>
                                <div class="input-group">
                                    <input type="password" ID="txtPasswordM" asp-for="passwordMediador" class="form-control" placeholder="ejemplo: ******">
                                    <div class="input-group-append">
                                        <button class="btn color-fondoNaranja color-plomo" type="button" onclick="mostrarPasswordM()"> <span class="bi bi-eye-slash-fill icon"></span> </button>
                                    </div>
                                </div>
                                <span asp-validation-for="passwordMediador" class="badge text-danger"></span>
                            </div>
                            <div class="col-12 mt-2">
                                <label for="inputCodEncargado" class="form-label color-plomo"><span class="color-naranja h5"><i class="bi bi-bookmark-check-fill"></i></span> Codigo Encargado de plataforma</label>
                                <input type="number" asp-for="codEncargadoPlataforma" class="form-control" id="inputCodEncargado" placeholder="Ejemplo: 4001">
                                <span asp-validation-for="codEncargadoPlataforma" class="badge text-danger"></span>
                            </div>
                            <div class="col-12 mt-2">
                                <label for="inputCajasExt" class="form-label color-plomo"><span class="color-naranja h5"><i class="bi bi-card-checklist"></i></span> Codigo Cajas</label>
                                <input asp-for="codCajeros" class="form-control" id="inputCajasExt" placeholder="Ejemplo: 4002,4003,....,4009,...">
                                <span asp-validation-for="codCajeros" class="badge text-danger"></span>
                            </div>
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div>
                                    <button type="submit" class="btn btn_add">Procesar<i class="ml-2 h6 bi bi-check-lg"></i></button>
                                    <button type="reset" class="btn btn_add2">Reiniciar<i class="ml-2 h6s bi bi-arrow-clockwise"></i></button>
                                </div>
                                <a class="btn btn_add3" asp-controller="web" asp-action="Index">Atras<i class="ml-2 h6 bi bi-arrow-left"></i></a>
                                <!--<button type="submit" class="btn btn_add3">Atras<i class="ml-2 h6 bi bi-arrow-left"></i></button>-->
                            </div>
                        </form><!-- End Multi Columns Form -->
                }else{
                    <form id="procesarX" class="row g-3 pt-0 mt-0 mb-5" asp-action="SetForm1" asp-controller="web" method="post">
                        <div class="col-md-6">
                            <label for="inputUserNet" class="form-label color-plomo"><span class="color-naranja h5"><i class="bi bi-laptop"></i></span> Usuario Netbank</label>
                            <input id="userNetbank" asp-for="userNetbank" class="form-control"  placeholder="ejemplo: RHJ">
                            <span asp-validation-for="userNetbank" class="badge text-danger mx-0 my-0"></span>
                            </div>
                            <div class="col-md-6">
                                <label for="inputPasswNet" class="form-label color-plomo"><span class="color-naranja h5"><i class="bi bi-spellcheck"></i></span> Password Netbank</label>
                                <div class="input-group">
                                    <input type="password" ID="txtPasswordN" asp-for="passwordNetbank" class="form-control" placeholder="ejemplo: ******">
                                    <div class="input-group-append">
                                        <button class="btn color-fondoNaranja color-plomo" type="button" onclick="mostrarPasswordN()"> <span class="bi bi-eye-slash-fill icon"></span> </button>
                                    </div>
                                </div>
                                <span asp-validation-for="passwordNetbank" class="badge text-danger"></span>
                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="inputUsermed" class="form-label color-plomo"><span class="color-naranja h5"><i class="bi bi-laptop"></i></span> Usuario Mediador</label>
                                <input id="userMediador" asp-for="userMediador" class="form-control" placeholder="ejemplo: mantelo">
                                <span asp-validation-for="userMediador" class="badge text-danger"></span>
                            </div>
                            <div class="col-md-6 mt-2">
                                <label for="inputPassMed" class="form-label color-plomo"><span class="color-naranja h5"><i class="bi bi-spellcheck"></i></span> Password Mediador</label>
                                <div class="input-group">
                                    <input type="password" ID="txtPasswordM" asp-for="passwordMediador" class="form-control" placeholder="ejemplo: ******">
                                     <div class="input-group-append">
                                        <button class="btn color-fondoNaranja color-plomo" type="button" onclick="mostrarPasswordM()"> <span class="bi bi-eye-slash-fill icon"></span> </button>
                                    </div>
                                </div>
                                <span asp-validation-for="passwordMediador" class="badge text-danger"></span>
                            </div>
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div>
                                    <button type="submit" class="btn btn_add">Procesar<i class="ml-2 h6 bi bi-check-lg"></i></button>
                                    <button type="reset" class="btn btn_add2">Reiniciar<i class="ml-2 h6s bi bi-arrow-clockwise"></i></button>
                                </div>
                                <a class="btn btn_add3" asp-controller="web" asp-action="Index">Atras<i class="ml-2 h6 bi bi-arrow-left"></i></a>
                            </div>
                    </form>
                }
            }
    </div>
</div>
<script>
    function expireToken(){
        var fechaAux = localStorage.getItem('fechaCreate');
        if(fechaAux != null){
            var vecAux = fechaAux.split(' ');
            var cad = vecAux[0]+" "+vecAux[1]+" "+vecAux[2]+" "+vecAux[3]+" "+"23:59:00"+" "+vecAux[5];
            //var aux = Date.parse("Sun May 08 2022 00:00:00 GMT-0400");
            var fechaActual = Date.parse(cad);
            var fechaCreate = Date.parse(fechaAux);
            if(fechaCreate > fechaActual){
                expireLocalStorage()
                console.log("expiro")
            }else{
                console.log("no expiro")
            }
        }else{
            console.log("sin fecha")
        }
    }
    window.onload=miDataStorageR1;
    function miDataStorageR1(){
        expireToken();
        var Proceso1 = localStorage.getItem('Proceso1');
        var userNetbank = localStorage.getItem('userNetbank');
        var txtPasswordN = localStorage.getItem('txtPasswordN');
        var userMediador = localStorage.getItem('userMediador');
        var txtPasswordM = localStorage.getItem('txtPasswordM');
        var inputCodEncargado = localStorage.getItem('inputCodEncargado');
        var inputCajasExt = localStorage.getItem('inputCajasExt');
        console.log(Proceso1," ",userNetbank," ",txtPasswordN," ",userMediador," ",txtPasswordM," ",inputCodEncargado," ",inputCajasExt);
        if(Proceso1){
            var flag = '@ViewBag.Externas'.toString();
            if(flag=='True' && inputCodEncargado != "" && inputCajasExt != ""){
                console.log("=======>>>>>>>>>>>> siiii");
                document.getElementById('userNetbank').value = userNetbank;
                document.getElementById('txtPasswordN').value = txtPasswordN;
                document.getElementById('userMediador').value = userMediador;
                document.getElementById('txtPasswordM').value = txtPasswordM;
                document.getElementById('inputCodEncargado').value = inputCodEncargado;
                document.getElementById('inputCajasExt').value = inputCajasExt;
            }else{
                console.log("=======>>>>>>>>>>>> noooo");
                document.getElementById('userNetbank').value = userNetbank;
                document.getElementById('txtPasswordN').value = txtPasswordN;
                document.getElementById('userMediador').value = userMediador;
                document.getElementById('txtPasswordM').value = txtPasswordM;
            }
        }else{
            console.log('no hay datos en localStorage');
        }
    }
    document.getElementById("procesarX").addEventListener("submit", execProceso1);
    function execProceso1(){
        var res1 = "";
        var res2 = "";
        var res3 = "";
        var res4 = "";
        var res5 = "";
        var res6 = "";
        if(document.getElementById('inputCodEncargado') == null && document.getElementById('inputCajasExt') == null)
        {
            console.log('siiiiii')
            res1 = document.getElementById("userNetbank").value
            res2 = document.getElementById("txtPasswordN").value
            res3 = document.getElementById("userMediador").value
            res4 = document.getElementById("txtPasswordM").value
            console.log(res1)
            console.log(res2)
            console.log(res3)
            console.log(res4)
        }else{
            console.log('noooooo')
            res1 = document.getElementById("userNetbank").value
            res2 = document.getElementById("txtPasswordN").value
            res3 = document.getElementById("userMediador").value
            res4 = document.getElementById("txtPasswordM").value
            res5 = document.getElementById("inputCodEncargado").value
            res6 = document.getElementById("inputCajasExt").value
            console.log(res1)
            console.log(res2)
            console.log(res3)
            console.log(res4)
            console.log(res5)
            console.log(res6)
        }
        if(res5 != "" && res6!= ""){
            console.log("hay cajeros externos")
            if(res1 == "" && res2 == "" && res3 == "" && res4 == "" && res5 == "" && res6 == ""){
                console.log("sin datos con cajeros externos")
            }else{
                console.log("con datos cajeros externos")
                localStorage.setItem('Proceso1', true);
                localStorage.setItem('userNetbank', res1);
                localStorage.setItem('txtPasswordN', res2);
                localStorage.setItem('userMediador', res3);
                localStorage.setItem('txtPasswordM', res4);
                localStorage.setItem('inputCodEncargado', res5);
                localStorage.setItem('inputCajasExt', res6);
                var fechaCreate = new Date();
                localStorage.setItem('fechaCreate', fechaCreate);
            }
        }else{
            if(res1 == "" && res2 == "" && res3 == "" && res4 == ""){
                console.log("sin datos")
            }else{
                console.log("con datos")
                localStorage.setItem('Proceso1', true);
                localStorage.setItem('userNetbank', res1);
                localStorage.setItem('txtPasswordN', res2);
                localStorage.setItem('userMediador', res3);
                localStorage.setItem('txtPasswordM', res4);
                var fechaCreate = new Date();
                localStorage.setItem('fechaCreate', fechaCreate);
            }
        }
    }
</script>
<script type="text/javascript">
    document.getElementById("customSwitch1").addEventListener("click", myFunction);
    function myFunction() {
        let form = document.getElementById("formExt");
        form.submit();
    }
    function mostrarPasswordN(){
        var cambio = document.getElementById("txtPasswordN");
        if(cambio.type == "password"){
            cambio.type = "text";
            $('.icon').removeClass('bi bi-eye-slash-fill').addClass('bi bi-eye-fill');
        }else{
            cambio.type = "password";
            $('.icon').removeClass('bi bi-eye-fill').addClass('bi bi-eye-slash-fill');
        }
    }
    function mostrarPasswordM(){
        var cambio = document.getElementById("txtPasswordM");
        if(cambio.type == "password"){
            cambio.type = "text";
            $('.icon').removeClass('bi bi-eye-slash-fill').addClass('bi bi-eye-fill');
        }else{
            cambio.type = "password";
            $('.icon').removeClass('bi bi-eye-fill').addClass('bi bi-eye-slash-fill');
        }
    }
</script>