<style>
    .section-bg {
        background-color: rgba(42,60,108,.5);
        text-align: left;
    }
    .color-azul{
        color: rgba(42,60,108);
        font-weight: bold;
    }
    .color-plomo{
        color: rgb(157, 154, 151);
        font-size: 14px;
    }
    .color-naranja{
        color: rgb(248, 97, 9);
        font-weight: bold;
    }
    .color-fondoNaranja{
        background-color: rgb(248, 97, 9);
    }
    .btn_add{
        color: white;
        background: rgb(248, 97, 9);
        width: 8rem;
    }
    .btn_add:hover {
        background: white;
        color: rgba(42,60,108);
    }
    .btn_add2{
        color: rgba(42,60,108);
        background: rgb(157, 154, 151);
        width: 8rem;
    }
    .btn_add2:hover {
        background: white;
        color: rgba(42,60,108);
    }
    .btn_add3{
        color: white;
        background: rgba(42,60,108);
        width: 8rem;
    }
    .btn_add3:hover {
        background: white;
        color: rgba(42,60,108);
    }
</style>
@{
    ViewData["Title"] = "Robot 2 Page";
}
@model RobotForm2;
<div class="card section-bg mb-5">
    <div class="card-body mb-2">
        <h5 class="card-title color-naranja">Llene lo campos del formulario para usar el robot 2</h5>
        <!-- Multi Columns Form -->
        <form class="row g-3 mb-4" id="procesarX" asp-action="SetformRobot2" asp-controller="web" method="post">
            <div class="col-md-6">
                <label for="inputUserNet" class="form-label color-plomo"><span class="color-naranja h4"><i class="bi bi-laptop"></i></span> Usuario Netbank</label>
                <input asp-for="userNetbank"class="form-control" placeholder="ejemplo: RHJ">
                <span asp-validation-for="userNetbank" class="badge text-danger mx-0 my-0"></span>
            </div>
            <div class="col-md-6">
                <label for="inputPasswNet" class="form-label color-plomo"><span class="color-naranja h4"><i class="bi bi-spellcheck"></i></span> Password Netbank</label>
                <div class="input-group">
                    <input asp-for="passwordNetbank" type="password" ID="txtPassword1" class="form-control" placeholder="ejemplo: ******">
                    <div class="input-group-append">
                        <button class="btn color-fondoNaranja color-plomo" type="button" onclick="mostrarPassword1()"> <span class="bi bi-eye-slash-fill icon"></span> </button>
                    </div>
                </div>
                <span asp-validation-for="passwordNetbank" class="badge text-danger"></span>
            </div>
            <div class="col-md-6 mt-4">
                <label for="inputUserSig" class="form-label color-plomo"><span class="color-naranja h4"><i class="bi bi-laptop"></i></span> Usuario Sigeco</label>
                <input asp-for="userSigeco" id="userSigeco" class="form-control" placeholder="ejemplo: mantelo">
                <span asp-validation-for="userSigeco" class="badge text-danger"></span>
            </div>
            <div class="col-md-6 mt-4">
                <label for="inputPassSig" class="form-label color-plomo"><span class="color-naranja h4"><i class="bi bi-spellcheck"></i></span> Password Sigeco</label>
                <div class="input-group">
                    <input asp-for="passwordSigeco" type="password" ID="txtPassword2" class="form-control" placeholder="ejemplo: ******">
                    <div class="input-group-append">
                        <button class="btn color-fondoNaranja color-plomo" type="button" onclick="mostrarPassword2()"> <span class="bi bi-eye-slash-fill icon"></span> </button>
                    </div>
                </div>
                <span asp-validation-for="passwordSigeco" class="badge text-danger"></span>
            </div>
            <div class="card-body d-flex justify-content-between align-items-center">
                <div>
                    <button type="submit" class="btn btn_add">Procesar<i class="ml-2 h6 bi bi-check-lg"></i></button>
                    <button type="reset" class="btn btn_add2">Reiniciar<i class="ml-2 h6s bi bi-arrow-clockwise"></i></button>
                </div>
                <a class="btn btn_add3" asp-controller="web" asp-action="Index">Atras<i class="ml-2 h6 bi bi-arrow-left"></i></a>
            </div>
        </form><!-- End Multi Columns Form -->
    </div>
</div>
<script type="text/javascript">
    function expireToken(){
        var fechaAux = localStorage.getItem('fechaCreate');
        if(fechaAux != null){
            var vecAux = fechaAux.split(' ');
            var cad = vecAux[0]+" "+vecAux[1]+" "+vecAux[2]+" "+vecAux[3]+" "+"23:59:00"+" "+vecAux[5];
            //var aux = Date.parse("Sun May 08 2022 00:00:00 GMT-0400");
            var fechaActual = Date.parse(cad);
            var fechaCreate = Date.parse(fechaAux);
            if(fechaCreate > fechaActual){
                expireLocalStorage()
                console.log("expiro")
            }else{
                console.log("no expiro")
            }
        }else{
            console.log("sin fecha")
        }
    }
    window.onload=miDataStorageR1;
    function miDataStorageR1(){
        expireToken();
        var Proceso1 = localStorage.getItem('Proceso1');
        var userNetbank = localStorage.getItem('userNetbank');
        var txtPasswordN = localStorage.getItem('txtPasswordN');
        var userSigeco = localStorage.getItem('userSigeco');
        var txtPasswordSig = localStorage.getItem('txtPasswordSig');
        console.log(Proceso1," ",userNetbank," ",txtPasswordN," ");
        if(Proceso1){
                console.log("=======>>>>>>>>>>>> siiii");
                document.getElementById('userNetbank').value = userNetbank;
                document.getElementById('txtPassword1').value = txtPasswordN;
                document.getElementById('userSigeco').value = userSigeco;
                document.getElementById('txtPassword2').value = txtPasswordSig;
        }else{
            console.log('no hay datos en localStorage para el proceso 2');
        }
    }
    document.getElementById("procesarX").addEventListener("submit", execProceso2);
    function execProceso2(){
        if(document.getElementById('userSigeco') == null && document.getElementById('txtPassword2') == null)
        {
            console.log("sin datos sigeco!!!")
        }else{
            var res1 = document.getElementById("userSigeco").value
            var res2 = document.getElementById("txtPassword2").value
             if(res1 != "" && res2 != ""){
                localStorage.setItem('Proceso2', true);
                localStorage.setItem('userSigeco', res1);
                localStorage.setItem('txtPasswordSig', res2);
            }
        }
    }
    function mostrarPassword1(){
        var cambio = document.getElementById("txtPassword1");
        if(cambio.type == "password"){
            cambio.type = "text";
            $('.icon').removeClass('bi bi-eye-slash-fill').addClass('bi bi-eye-fill');
        }else{
            cambio.type = "password";
            $('.icon').removeClass('bi bi-eye-fill').addClass('bi bi-eye-slash-fill');
        }
    }
    function mostrarPassword2(){
        var cambio = document.getElementById("txtPassword2");
        if(cambio.type == "password"){
            cambio.type = "text";
            $('.icon').removeClass('bi bi-eye-slash-fill').addClass('bi bi-eye-fill');
        }else{
            cambio.type = "password";
            $('.icon').removeClass('bi bi-eye-fill').addClass('bi bi-eye-slash-fill');
        }
    }
</script>