﻿@{
    ViewData["Title"] = "Home Page";
}
@*<h1>Powerful Digital Solutions With Gp<span>.</span></h1>
<h2 class="lead">We are team of talented digital marketers</h2>*@
<style>
    .widget {
        width: 40%;
        height: 40%;
        margin: auto;
    }

    .widget p {
        display: inline-block;
        line-height: 1em;
    }

    .reloj {
        display: flex;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        width: 100%;
        padding: 20px;
        font-size: 4em;
        text-align: center;
        background: rgba(0,0,0,.5);
    }
    .section-bg {
        background-color: rgba(42,60,108,.5);
    }
    /*--------------------------------------------------------------
    # Services
    --------------------------------------------------------------*/
    .services .icon-box {
        padding: 15px;
        border-radius: 6px;
        height: 90%;
        background: rgb(248, 97, 9);
    }
    .services .icon-box i {
        /*float: left;*/
        color: rgb(157, 154, 151);
        font-size: 36px;
    }
    .services .icon-box h4 {
        margin-left: auto;
        font-weight: 700;
        margin-bottom: 0px;
        font-size: 14px;
    }
    .services .icon-box h4 a {
        color: rgb(42,60,108);
        transition: 0.3s;
    }
    .services .icon-box .icon-box:hover h4 a {
        color: #ff4a17;
    }
    .services .icon-box p {
        margin-left: 70px;
        line-height: 24px;
        font-size: 14px;
    }
    .services .icon-box:hover h4 a {
        color: rgb(157, 154, 151);
    }
    .section-title {
        padding-bottom: 40px;
        padding-top: 10px;
        opacity: 1;
    }
    .section-title h2 {
        font-size: 14px;
        font-weight: 500;
        padding: 0;
        line-height: 1px;
        margin: 0 0 5px 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #5c8eb0;
        font-family: "Poppins", sans-serif;
    }
    .section-title h2::after {
        content: "";
        width: 120px;
        height: 1px;
        display: inline-block;
        background: #ff8664;
        margin: 4px 10px;
    }
    .section-title p {
        margin-top: 10px;
        margin-bottom: 0;
        padding-bottom: 0;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        @* color: rgba(42,60,108,.5); *@
        color: white;

    }
    .btn_add{
        color: white;
        background: rgba(42,60,108);
        margin-top: 10%;
        margin-bottom: 4px;
        width: 100%;
        font-size: 12px ;
        @* margin: 0px 8px; *@
    }
    .btn_add:hover {
        background: rgb(157, 154, 151);
        color: rgba(42,60,108);
    }
    .btn_add2{
        color: white;
        background: rgb(157, 154, 151);
    }
    .btn_add2:hover {
        background: rgb(248, 97, 9);
    }
    .countdown {
        margin-bottom: 8px;
    }
    .countdown div {
        text-align: center;
        margin: 10px;
        width: 90px;
        padding: 8px 0;
        background: rgba(255, 255, 255, 0.12);
        border-top: 5px solid rgb(248, 97, 9);
    }
    .countdown div h3 {
        font-weight: 700;
        font-size: 26px;
        margin-bottom: 10px;
    }
    .countdown div h4 {
        font-size: 14px;
        font-weight: 600;
    }
    .color-azul{
        color: rgba(42,60,108);
        font-weight: bold;
    }
    .color-plomo{
        color: rgb(157, 154, 151);
        font-weight: bold;
    }
    @* @media (max-width: 575px) {
        .countdown div {
            width: 70px;
            padding: 10px 0;
            margin: 10px 8px;
        }
        .countdown div h3 {
            font-size: 28px;
            margin-bottom: 10px;
        }
        .countdown div h4 {
            font-size: 14px;
            font-weight: 500;
        }
    } *@
    .mensajeR1{
        width: 15rem;
        height: 9rem;
        border-radius: 6px;
        background: rgba(42,60,108);
        color: white;
    }
</style>
<div class="container">
    <div class="section-title mb-0 pb-0">
          <p>Hora Actual 24h
            <i class="bi bi-clock"></i>
          </p>
    </div>
    <div class="countdown d-flex justify-content-center mb-0" data-count="2023/12/5">
        <div>
          <h3><p id="horas" class="horas">00</p></h3>
          <h4 class="color-azul">Hors.</h4>
        </div>
        <div>
          <h3><p id="minutos" class="minutos">00</p></h3>
          <h4 class="color-azul">Min.</h4>
        </div>
        <div>
          <h3><p id="segundos" class="segundos">00</p></h3>
          <h4 class="color-azul">Seg.</h4>
        </div>
    </div>
    @* <div class="widget mb-4">
        <div class="reloj">
            <p id="horas" class="horas">00</p>
            <p>:</p>
            <p id="minutos" class="minutos">00</p>
            <p>:</p>
            <p id="segundos" class="segundos">00</p>
        </div>
    </div> *@
    <section class="services section-bg mb-4">
      <div class="container">
        <div class="section-title mb-0 pb-2">
            <p>Servicios Digitales SFA's</p>
        </div>
        <p class="h6">Seleccione el proceso que desea ejecutar</p>
        <div class="row">
            <div class="col-md-6" id="localstorageExist">
                <!--option message if exist localstorage save -->
            </div>
            <div class="col-md-6">
                <div class="icon-box">
                    <h4 class="text-left">
                        <i class="bi bi-robot mr-1"></i>
                        <a href="#">Proceso 2 - Robot 2</a>
                    </h4>
                    <ol>
                        <li class="text-left small">
                            Este servicio realiza la tarea sacar reportes del sistema netbank arqueo de caja, saldos, sigeco.
                        </li>
                        <li class="text-left small">
                            Llena un reporte cheklist listando los reportes exsitentes y no exsitentes.
                        </li>
                        <li class="text-left small">
                            Recuerde que este proceso debe ejecutarlo una vez realizado el cierre de cajas.
                        </li>
                    </ol>
                    <a asp-controller="web" asp-action="formRobot2" id="botonR2" class="btn_add btn btn-light mb-4">Procesar</a>
                </div>
            </div>
        </div>
      </div>
    </section>
    @* <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div> *@
</div>
<script>
    function redirectForm1(){
        window.location.href = '/web/formRobot1';
    }
    function expireToken(){
        var fechaAux = localStorage.getItem('fechaCreate');
        if(fechaAux != null){
            var vecAux = fechaAux.split(' ');
            var cad = vecAux[0]+" "+vecAux[1]+" "+vecAux[2]+" "+vecAux[3]+" "+"23:59:00"+" "+vecAux[5];
            console.log(fechaAux)
            console.log(cad)
            //var aux = Date.parse("Sun May 08 2022 00:00:00 GMT-0400");
            var fechaCreate = Date.parse(fechaAux);
            var fechaActual = Date.parse(cad);
            if(fechaCreate > fechaActual){
                expireLocalStorage()
                console.log("expiro")
            }else{
                console.log("no expiro")
            }
        }else{
            console.log("sin fecha")
        }
    }
    window.onload=miDataStorageR1;
    function miDataStorageR1(){
        var Proceso1 = localStorage.getItem('Proceso1');
        expireToken();
        if(Proceso1){
            console.log("siiii")
            var intro = document.getElementById('botonR2');
            intro.classList.remove('disabled')
            document.getElementById('localstorageExist').innerHTML = "<div class='icon-box d-flex align-items-center'><div class='mensajeR1 mx-auto text-center'><p class='text-center small mx-2 pt-2'><i class='bi bi-stopwatch'></i>Usted ya proceso su informacion, una vez cerradas sus cajas ejecute el Robot2 <a onclick='redirectForm1()' class='btn btn-sm btn_add2 mt-1'>Reprocesar</a></p></div></div>"
        }else{
            var intro = document.getElementById('botonR2');
            intro.classList.add('disabled')
            //intro.className = 'disabled';
            //intro.style.backgroundColor = '#FF00FF';
            document.getElementById('localstorageExist').innerHTML = "<div class='icon-box'><p onload='miR1();'></p><h4 class='text-left'><i class='bi bi-robot mr-1'></i><a href='#'>Proceso 1 - Robot 1</a></h4><ol class='mb-0'><li class='text-left small'>Este servicio realiza la tarea de extraccion de cajas activas.</li><li class='text-left small'>Extrae pagos de servicios del sistema Netbak y Mediador comparacion para verificar saldos faltantes o irregulares.</li><li class='text-left small'>Recuerde que este proceso debe ejecutarlo antes de realizar el cierre de cajas.</li></ol><a onclick='redirectForm1()' class='btn_add btn btn-light mb-4'>Procesar</a></div>"
        }
    }
    function horaActual() {
        var fecha = new Date();
        hora = fecha.getHours();
        if (hora < 10) {
            hora = "0" + hora;
        }
        mireloj = hora;
        return mireloj;
    }
    function minutosActual() {
        var fecha = new Date();
        minutos = fecha.getMinutes();
        if (minutos < 10) {
            minutos = "0" + minutos;
        }
        mireloj = minutos
        return mireloj;
    }
    function segundosActual() {
        var fecha = new Date();
        segundos = fecha.getSeconds();
        if (segundos < 10) {
            segundos = "0" + segundos;
        }
        mireloj = segundos
        return mireloj;
    }
    function diaActual() {
        var fecha = new Date();
        var semana = ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'];
        diaSemana = fecha.getDay()
        return semana[diaSemana];
    }
    function mesActual() {
        var fecha = new Date();
        var meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];
        mes = fecha.getMonth()
        return meses[mes];
    }
    function actualizar() {
        //diaSemana = diaActual();
        //mes = mesActual();
        //var fecha = new Date();
        //anio = fecha.getFullYear()
        //dia = fecha.getDate(),
        mihora = horaActual();
        misMinutos = minutosActual();
        misSegundos = segundosActual();
        mirelojHora = document.getElementById("horas");
        mirelojHora.innerHTML = mihora;
        mirelojMinutos = document.getElementById("minutos");
        mirelojMinutos.innerHTML = misMinutos;
        mirelojSegundos = document.getElementById("segundos")
        mirelojSegundos.innerHTML = misSegundos;
        //console.log(mihora," ",misMinutos," ",misSegundos);
        //if(mihora == '16' && misMinutos == '54' && misSegundos == '00'){
        //    expireLocalStorage();
        //    redirectForm1();
        //}
        //document.getElementById("diaSemana").innerHTML = diaSemana;
        //document.getElementById("dia").innerHTML = dia;
        //document.getElementById("mes").innerHTML = mes;
        //document.getElementById("anio").innerHTML = anio;
    }
    function expireLocalStorage(){
        localStorage.clear();
    }
    setInterval(actualizar, 1000);
</script>