﻿@model Cliente
<h2>Este es un formulario para adicionar un cliente a la lista</h2>
<div>
    <form action="/" method="post">

    </form>
</div>

<h2>
    Este es la vista lista de clientes
</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>DUI</td>
            <td>NIT</td>
            <td>Correo</td>
            <th colspan="2"></th>
        </tr>
    </thead
    <tbody>
        @foreach (Cliente item in ViewBag.listaClientes)
        {
        <tr>
            <td>@item.IdCliente</td>
            <td>@item.Nombre</td>
            <td>@item.Dui</td>
            <td>@item.Nit</td>
            <td>@item.Correo</td>
            <td> <a asp-controller="Clientes" asp-action="Modificar" asp-route-id="@item.IdCliente">Modificar</a> </td>
            <td> <a asp-controller="Home" asp-action="Privacy">Eliminar</a> </td>
        </tr>
        }
    </tbody>
</table>